  <header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="home-content d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div id="menuToggle">
                                        <i class="ri-menu-line"></i>
                                    </div>
                                    <span class="text d-none d-lg-block">Mudita Tribe
                                    </span>
                                    <span class="text d-block d-lg-none ">Mudita Tribe
                                    </span>
                                </div>
                                <div class="d-flex justify-content-between gap-4 align-items-center">


                                    <img src="/static/static/images/profile.jpg" alt="" class="profile"
                                        id="profile_pic">
                                </div>
                                <div class="sub-menu-wrap" id="subMenu">
                                    <div class="sub-menu ">
                                        <div class="sub-menu-link more-profile-details">
                                            <i class='bx bx-user-circle'></i>
                                            <p class="userName">{{ request.user.first_name|title }}  </p>

                                        </div>


                                        <a href="/logout2" class="sub-menu-link">
                                            <i class='bx bx-log-out-circle'></i>
                                            <p class="">Logout</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="quick-menu" id="quickmenu">
                                    <div class="quick-menus">
                                        <div class="row">
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rupee_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rating_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/student.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rupee_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rating_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/student.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rupee_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rating_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/student.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rupee_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/rating_icon.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6 col-md-4 pr-0">
                                                <a href="#">
                                                    <div class="p-2 mb-3">
                                                        <img src="/static/static/images/student.png" class="more_img">
                                                        <p> Finance </p>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </header>
