    <!-- Jquery -->
    <script src="/static/static/js/jquery-3.6.0.js"></script>

    <!-- Bootstrap js -->
    <script src="/static/static/vendor/bootstrap-5.2.3/js/bootstrap.min.js"></script>

    <!-- Charts -->
    <script src="/static/static/js/apexcharts.js"></script>


    <!-- custome js -->
    <script src="/static/static/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js"></script>
       <script src="/static/static/vendor/dataTables/jquery.dataTables.min.js"></script>
    <script src="/static/static/vendor/dataTables/dataTables.bootstrap5.min.js"></script>

    <!-- Datatable file exports -->
    <script src="/static/static/vendor/dataTables/Buttons-2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="/static/static/vendor/dataTables/Buttons-2.3.6/js/buttons.bootstrap5.min.js"></script>
    <script src="/static/static/vendor/dataTables/JSZip-2.5.0/jszip.min.js"></script>
    <script src="/static/static/vendor/dataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="/static/static/vendor/dataTables/pdfmake-0.1.36/vfs_fonts.js"></script>
    <script src="/static/static/vendor/dataTables/Buttons-2.3.6/js/buttons.html5.min.js"></script>
    <script src="/static/static/vendor/dataTables/Buttons-2.3.6/js/buttons.print.min.js"></script>
    <script src="/static/static/vendor/dataTables/Buttons-2.3.6/js/buttons.colVis.min.js"></script>
    <script src="/static/static/vendor/dataTables/ColumnFilterWidgets.js"></script>
{% load sweetify %}
 {% sweetify %}