{% load i18n %}
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ domain }}.{% endblocktranslate %}
{% blocktranslate %}Please go to the following page and choose a new password:{% endblocktranslate %}

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a>

{% blocktranslate %}Your username, in case you've forgotten: {{ user.get_username }}{% endblocktranslate %}

{% blocktranslate %}Thanks for using our site!{% endblocktranslate %}
{% blocktranslate %}The {{ domain }} team{% endblocktranslate %}
