{% include 'head.html' %}

<body>
    <div id="wrapper">
        <!--Header Start-->
{% include 'header.html' %}
        <style>
            p{
                text-align: justify;
            }
        </style>
        <!--Header End-->


        <!--Other Happiness Start-->
        <section class="py-12 md:py-32 about-content">
            <div class="max-w-screen-xl mx-auto px-5">
                <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] mb-6 md:mb-12" >ABOUT MUDITA</h2>
                  <h3 class="text-4xl md:text-5xl text-center font-semibold text-[#C6584F] leading-[70px] w-10/12 mx-auto mb-4 md:mb-12">Our Mission</h3>
                    <p class="text-[#C6584F] text-2xl font-semibold md:leading-[42px]">
Mudita, an embodiment of the joy found in giving happiness to others, was conceived with a singular purpose—to be that resolute safety boat. This is especially crucial for the 56 million people in India grappling with depression and the 38 million bearing the weight of anxiety, some as young as 10-12 years old.
                    </p>
                <br>
                    <p class="text-[#C6584F] text-2xl font-semibold md:leading-[42px]">
                        In addition to connecting individuals with professionals who can offer traditional support, we offer a wide range of tools and resources to empower individuals in their mental health journey. From self-help resources and educational materials to a space where you can freely express your thoughts, monitor your progress, and conduct self-assessments on a basic level, Mudita strives to be your all-encompassing guide to mental well-being.
                    </p>
                <br>
                <p class="text-[#C6584F] text-2xl font-semibold md:leading-[42px]">
At Mudita, we believe that mental health is a collective responsibility, and together, we can create a world where everyone has access to the resources and support they need to lead healthier, happier lives. So, come, be a part of this journey with us, as we navigate the intricate landscape of mental well-being with compassion, understanding, and the joy of giving happiness to one another. Together, we can make a difference, one heartfelt smile at a time.
                </p>

            </div>
        </section>
<!--        <section class="py-3 md:py-6 about-content">-->
<!--            <div class="max-w-screen-xl mx-auto px-5">-->
<!--                <div class="grid gap-x-5 items-center">-->
<!--                    <div class="">-->
<!--                        <p class="text-[#C6584F] text-2xl font-semibold md:leading-[42px]">Mudita's birth wasn't about merely establishing another NGO; it was the manifestation of a vision—a vision to rewrite the narrative. We aimed to replace the traditional roles of 'giver' and 'receiver' with a more profound connection, where each individual's journey contributes to the collective strength of our community.</p>-->
<!--                        <p class="text-[#C6584F] text-2xl font-semibold md:leading-[42px]">The name 'Mudita' resonated profoundly with this vision. It signifies the joy found in giving happiness, highlighting the importance of a collective, where each member benefits from the welfare of another. Here at Mudita, compassion and empathy are the guiding stars of our mission. We believe that it's only through these profound qualities that we can truly understand, support, and uplift those who traverse the path of mental health struggles. We are here to listen, to learn, and to extend a hand of understanding and care, as we navigate this journey with grace and a profound sense of lightness.</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!--Other Happiness End-->

        <!--Quote Start-->
        <div class="w-full">
            <img src="/static/img/bg_b_front.svg" class="w-full" alt="">
        </div>
        <section class="py-12 md:py-32 bg-[#C4D1D4]">
            <div class="max-w-screen-xl mx-auto px-5">
                    <h2 class="text-4xl md:text-7xl text-center font-semibold text-white mb-6 md:mb-12" style="margin-top: -40px;">Founder’s Note</h2>
                  <h3 class="text-4xl md:text-5xl text-center font-semibold text-white leading-[70px] w-10/12 mx-auto mb-4 md:mb-12">Miheeka Daggubati</h3>
                <div class="grid md:grid-cols-2 gap-x-5 items-center">

                    <div>

                        <p class="text-white text-2xl font-semibold md:leading-[42px]">
                            In the quiet chambers of my heart, where my passion for creating change meets my deep fascination with the intricate fabric of human existence, Mudita finds its origin. This journey began with a profound longing, a burning desire to make a genuine impact on our world.</p><br>

                        <p class="text-white text-2xl font-semibold md:leading-[42px]">
As I delved deeper into the world of social causes, my encounters with individuals battling mental health issues struck a chord within me. Their silent struggles, the heavy weight of stress, and the crushing isolation they endured left an indelible mark on my soul. It was a call I couldn't ignore.
                        </p></div>
                    <div>
                        <img src="/static/img/about.jpg" alt="about" class="w-80 mx-auto">
                    </div>
                </div>
                <br>
                <p class="text-white text-2xl font-semibold md:leading-[42px]">
                    Mudita's birth wasn't about merely establishing another NGO; it was the manifestation of a vision—a vision to rewrite the narrative. We aimed to replace the traditional roles of 'giver' and 'receiver' with a more profound connection, where each individual's journey contributes to the collective strength of our community.
                </p>
                <br>
                           <p class="text-white text-2xl font-semibold md:leading-[42px]" style="margin-bottom: -40px;">

                    The name 'Mudita' resonated profoundly with this vision. It signifies the joy found in giving happiness, highlighting the importance of a collective, where each member benefits from the welfare of another. Here at Mudita, compassion and empathy are the guiding stars of our mission. We believe that it's only through these profound qualities that we can truly understand, support, and uplift those who traverse the path of mental health struggles. We are here to listen, to learn, and to extend a hand of understanding and care, as we navigate this journey with grace and a profound sense of lightness.
                </p>
            </div>
        </section>
        <div class="w-full">
            <img src="/static/img/bg_b_back.svg" class="w-full" alt="">
        </div>
        <!--Quote End-->

        <!--Other Happiness Start-->
        <section class="py-12 md:py-32 about-content">
            <div class="max-w-screen-xl mx-auto px-5">
                <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] mb-6 md:mb-12">Advisor </h2>
               <h3 class="text-4xl md:text-5xl text-center font-semibold text-[#C6584F] leading-[70px] w-10/12 mx-auto mb-4 md:mb-12">Dr. Suryadevara  </h3>
                <div class="grid gap-5 md:gap-10 items-center">
                    <div>
                        <img src="/static/img/advisor.jpg" alt="about" class="w-64 mx-auto">
                    </div>
                    <div>
                        <p class="text-[#C6584F] text-2xl font-semibold md:leading-[42px]">Dr. Suryadevara is a faculty in the Department of Radiology at Stanford University School of Medicine and a Global Health Faculty Fellow in the Centre for Innovation in Global Health. She received a PhD in Bioengineering from University of Illinois, Chicago and has a breadth of experiences across different scientific disciplines including pulmonary diseases, Alzheimer's disease, and osteoarthritis, wherein her research projects involved identifying new therapeutic targets and developing imaging modalities for early diagnosis of the disease, thus eventually improving the quality of life in patients. </p>
                        <p class="text-[#C6584F] text-2xl font-semibold md:leading-[42px]">She has extensively published in various reputed journals over the years, given scientific talks at international conferences across the globe and has been a mentor to high school students, undergrads, graduate students, and postdocs. She serves as a mentor for the Leadership Education in Advancing Diversity Program at Stanford. As a biomedical scientist, she’s passionate about contributing her part to improve the quality of life in people’s lives with neurobehavioral deficits e.g. depression associated with neurodegenerative diseases and even prevention.</p>
                    </div>

                </div>
            </div>
        </section>
        <!--Other Happiness End-->

   <!--Footer Start-->
       {% include 'footer.html' %}

        <!--Footer End-->



    </div>
</body>

</html>
