{%include 'head.html' %}
<body>
    <div id="wrapper">
        <!--Header Start-->
     {%include 'header.html' %}
        <!--Header End-->



        <!--Other Happiness Start-->
        <section class="py-12 md:py-32 about-content">
            <div class="max-w-screen-xl mx-auto px-5">
                <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] ">Activities</h2>
                <div class="mb-8 md:mb-24 mt-4 md:mt-12">
                    <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F]  ">At Mudita, we offer an extensive array of services and activities that are tailored to meet your mental health requirements and improve overall wellbeing.</p>
                    <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F]  ">From the comfort and convenience of your own home, our trained professionals are committed to providing you individual attention and solutions that encourage you on your path toward ideal mental well- being.
                    </p>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-4 gap-10">
                   <a href="/breathing" ><div class="bg-white rounded-t-full overflow-hidden">
                        <div class="w-full">
                            <img src="/static/img/activity_1.png" alt="Breathing img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Breathing Exercises</h4>
                        </div>
                   </div></a>
                     <a href="/guided_meditation" ><div class="bg-white rounded-t-full overflow-hidden	">
                        <div class="w-full">
                            <img src="/static/img/activity_4.png" alt="Music img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Guided Meditation</h4>
                        </div>
                     </div></a>
                    <a href="/sound_nature" > <div class="bg-white rounded-t-full overflow-hidden	">
                        <div class="w-full">
                            <img src="/static/img/activity_5.png" alt="Art img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Sounds Of Nature</h4>
                        </div>
                    </div></a>
                    <a href="/instrumental" > <div class="bg-white rounded-t-full overflow-hidden	">
                        <div class="w-full">
                            <img src="/static/img/activity_6.png" alt="Art img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Instrumental Healing
</h4>
                        </div>
                    </div></a>
                    <a href="/art" > <div class="bg-white rounded-t-full overflow-hidden	">
                        <div class="w-full">
                            <img src="/static/img/activity_3.png" alt="Art img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Art Therapy</h4>
                        </div>
                    </div></a>
                     <a href="/postural" ><div class="bg-white rounded-t-full overflow-hidden	">
                        <div class="w-full">
                            <img src="/static/img/activity_7.png" alt="Art img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Postural Work</h4>
                        </div>
                     </div></a>
                     <a href="/music_class" ><div class="bg-white rounded-t-full overflow-hidden	">
                        <div class="w-full">
                            <img src="/static/img/activity_2.png" alt="Art img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Soothing Soundscapes</h4>
                        </div>
                     </div></a>
                    <a href="/dance_class" > <div class="bg-white rounded-t-full overflow-hidden	">
                        <div class="w-full">
                            <img src="/static/img/activity_8.png" alt="Art img" class="w-full">
                        </div>
                        <div class="py-3 text-center">
                            <h4 class="text-2xl text-[#C6584F] font-semibold">Rhythmic Healing
</h4>
                        </div>
                    </div></a>
                </div>
            </div>
        </section>
        <!--Other Happiness End-->

        <!--Footer Start-->
        {%include 'footer.html' %}

        <!--Footer End-->



    </div>
</body>

</html>
