       {%include 'head.html' %}

<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
           {%include 'header.html' %}
        <!--Header End-->

        <!--ACTIVITIES  Start-->
        <section class="py-12 md:py-32">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="mb-8 md:mb-24">
                    <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] tracking-wide mb-6 md:mb-12">Art Therapy</h2>
                    <h3 class="text-4xl text-center font-semibold text-[#C6584F] italic ">
                        Explore the Art Therapy videos, where creativity meets healing. It offers an opportunity to enhance social skills and improve self-esteem. By engaging with art, one can find new ways to communicate and resolve issues, fostering healing and personal growth. Dive into each session and embrace art as a transformative tool for health and well-being  </h3>
                </div>
                  <div class="grid gap-8 items-center">
                <h2 class="text-7xl text-center" style="color: #C4D1D4">COMING SOON!</h2>



                </div>
            </div>
        </section>
        <!--ACTIVITIES  End-->

        <!--Footer Start-->
       {%include 'footer.html' %}
        <!--Footer End-->



    </div>
</body>

</html>
