{% include 'head.html' %}
<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
       {% include 'header.html' %}
        <!--Header End-->


        <!--Other Happiness Start-->
        <section class="py-12 md:py-32 about-content">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="w-full md:w-7/12 mx-auto">
                    <img src="/static/img/articles.png" alt="" class="w-full">
                </div>

                <div class="mb-8 md:mb-24"> 
                    <div class=" mt-12 mb-2 md:mb-8 ">
                        <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] italic">Explore the ancient wisdom of the Vedas. Here, we delve into how these timeless texts addressed mental health, offering insights and techniques that are still relevant today.</p>
                         <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] italic"> Discover the rich heritage of mental health knowledge preserved in the Vedas and learn how these practices can enhance your mindfulness and emotional balance</p>
                    </div>
                    <h2 class="text-[#C6584F] text-3xl md:text-6xl font-semibold text-center">Go Through All The Latest Articles And Stay Informed</h2>

                </div>
                <div class="grid md:grid-cols-3 gap-5">

                    <div class="grid gap-y-2 w-full md:w-8/12 mx-auto">
                        <div class="overflow-hidden rounded-2xl w-full mx-auto">
                            <img src="/static/img/blog_1.png" alt="" class="w-full">
                        </div>
                        <div class="text-[#C6584F] text-center">
                            <h4 class="text-xl font-bold mb-1">Dancing Away Depression</h4>
                            <p class="font-semibold">“I don’t like the word ‘depression’; I prefer to refer to that state as the ‘inside ...”</p>

                            <a href="#" class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg px-4">Read More</a>
                        </div>
                    </div>
                    <div class="grid gap-y-2 w-full md:w-8/12 mx-auto">
                        <div class="overflow-hidden rounded-2xl w-full mx-auto">
                            <img src="/static/img/blog_2.png" alt="" class="w-full">
                        </div>
                        <div class="text-[#C6584F] text-center">
                            <h4 class="text-xl font-bold mb-1">The Fog That Comes Like Clock Work</h4>
                            <p class="font-semibold">Days go by and I keep telling myself and you that I understand where you’re ...</p>

                            <a href="#" class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg px-4">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Other Happiness End-->

        <!--Footer Start-->
{% include 'footer.html' %}
        <!--Footer End-->

    </div>
</body>

</html>
