 <div class="space-y-4 text-[#C6584F]" id="profile">
                    <div>
                        <h4 class="text-2xl font-semibold">{{data.first_name|title}}</h4>
                        <h6 class="text-lg font-semibold">{{data.designation}}</h6>
                    </div>
                    <ul class="space-y-1">
                        <li><b>Area of Specialization:</b>{{specialization}} </li>
                        <li><b>Experience:</b> {{data.exp}}</li>
                        <li><b>Qualification:</b> {{data.qualification}} </li>
                        <li><b>Mode of Delivery:</b> Both Offline and Online</li>
                        <li><b>Language:</b> {{data.language}}</li>
                        <li><b>Location:</b> {{data.location}}</li>
                        <li><b>Email:</b> {{data.email}}</li>
                        <li><b>Mobile No:</b> {{data.phone}} </li>
                    </ul>
                    <div>
                        <b>About: </b><br />
                       {{data.about|safe}} 
                    </div>
                </div>
