{%include 'head.html' %}

<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
       {% include 'header.html' %}
        <!--Header End-->

        <!--ACTIVITIES  Start-->
     <section class="py-12 md:py-32">
    <div class="max-w-screen-xl mx-auto px-5">
        <div class="mb-8 md:mb-24">
            <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] tracking-wide mb-6 md:mb-12">Helplines</h2>
            <h3 class="text-xl md:text-4xl text-center font-semibold text-[#C6584F] italic mb-6">Find support and guidance where you can access a list of trusted organisations and services to help you with your concerns. Whether you need someone to talk to about anxiety, depression, or any other mental health issues, these helplines are staffed by professionals ready to help you 24/7 with confidential advice and assistance.</h3>
        </div>
        <div class="mb-8 md:mb-24">
            <h3 class="text-xl md:text-4xl text-center font-semibold text-[#C6584F] italic">Explore the resources and reach out to begin your journey toward better well-being</h3>
        </div>
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8 items-center">
            {% for i in data %}
            <div class="text-center" onclick="get_helpline({{i.id}})">
                <h5 class="text-2xl font-semibold text-[#C6584F]">{{i.name}}</h5>
                <div class="w-8/12 sm:w-6/12 md:w-4/12 mx-auto rounded-lg relative mb-1">
                    <img src="/media/{{i.photo}}" alt="" class="w-full rounded-lg">
                </div>
                <a class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg inline-block">
                    <span>Read more</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
    .form-group {
        margin-bottom: 1rem;
    }
    .label-form {
        display: block;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
    .form-input {
        display: block;
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.25rem;
    }
    @media (min-width: 768px) {
        .form-input {
            max-width: 100%;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
</style>

        <!--ACTIVITIES  End-->

        <!--Footer Start-->
       {% include 'footer.html' %}

        <!--Footer End-->



    </div>

<div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed inset-0 z-50 flex justify-center items-center w-full h-full shadow-xl dark:shadow-gray-800">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-[#F8EDDE] rounded-lg shadow-lg p-8">
            <!-- Modal header -->
            <div class="flex items-center justify-between rounded-t">
                <button type="button" class="text-white bg-[#C6584F] hover:bg-black rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="default-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                </button>
            </div>
            <!-- Modal body -->
            <div class="space-y-4 text-[#C6584F]" id="profile">
                <div>
                    <h4 class="text-2xl font-semibold">Aakhansha Varghese</h4>
                    <h6 class="text-lg font-semibold">Psychologist</h6>
                </div>
                <ul class="space-y-1">
                    <li><b>Area of Specialization:</b>Relationship Counselling </li>
                    <li><b>Experience:</b> 5 Years</li>
                    <li><b>Qualification:</b> MSc In Counselling Psychology </li>
                    <li><b>Mode of Delivery:</b> Both Offline and Online</li>
                    <li><b>Language:</b> English, Hindi</li>
                    <li><b>Location:</b> Valsad, Gujarat</li>
                    <li><b>Email:</b> aakansha151995@gmail.com</li>
                    <li><b>Mobile No:</b> 9986071608 </li>
                </ul>
                <div>
                    <b>About: </b><br />
                    Aakanksha's work as a psychologist affords her the great privilege of being invited into the most intimate emotional spaces of people’s lives. She works with children, adolescents & young adults with cases like Anxiety, Depression, Relationship issues, Borderline Personality Disorder, ADHD (children and adults), Stress and Work-Life Balance, Adjustmental Issues. Aakanksha is a LGBTQIA ally, Trauma Informed and has worked on cases involving Childhood Trauma. In therapy her approach has been eclectic however she majorly practice humanistic approach. She believes that every individual has the capability to grow and evolve when given an environment of acceptance, empathy and unconditional positive regard.
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .shadow-lg {
        box-shadow: 0 10px 15px -3px rgba(31, 41, 55, 0.1), 0 4px 6px -4px rgba(31, 41, 55, 0.1);
    }
    @media (prefers-color-scheme: dark) {
        .dark\:shadow-gray-800 {
            box-shadow: 0 10px 15px -3px rgba(31, 41, 55, 0.7), 0 4px 6px -4px rgba(31, 41, 55, 0.7);
        }
    }
</style>
</body>
 <script src="/static/static/js/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function() {
    // Open modal
    $("#open-modal").click(function() {
        get_counsellor(1); // Example id, you can replace it with dynamic id
    });

    // Close modal
    $(document).on('click', "[data-modal-hide='default-modal']", function() {
        $("#default-modal").addClass("hidden");
    });
});

function get_helpline(id) {
    $.ajax({
        type: "GET",
        url: '/get_helpline_data',
        data: {"id": id},
        success: function (data) {
            $('#profile').html(data.html_form);
            $("#default-modal").removeClass("hidden");
        },
        error: function () {
            alert("Something went wrong");
        }
    });
}
</script>

</html>
