       {%include 'head.html' %}
       {%load customtag %}

<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
           {%include 'header.html' %}
        <!--Header End-->

        <!--ACTIVITIES  Start-->
        <section class="py-12 md:py-32">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="mb-8 md:mb-24">
                    <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] tracking-wide mb-6 md:mb-12">Instrumental Healing</h2>
                    <h3 class="text-4xl text-center font-semibold text-[#C6584F] italic ">
                        Immerse yourself with these visual and auditory experiences that are curated to induce calmness, reduce stress and help you unwind. Allow the interplay of music and moving art to transport you to a state of relaxation and peace. Press play and let the stress melt away as you drift into tranquillity.
                    </h3>                </div>
                <div class="grid gap-8 items-center">
                <h2 class="text-7xl text-center" style="color: #C4D1D4">COMING SOON!</h2>



                </div>
            </div>
        </section>
        <!--ACTIVITIES  End-->

        <!--Footer Start-->
       {%include 'footer.html' %}
        <!--Footer End-->



    </div>
</body>

</html>
