{%include 'head.html' %}

<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
       {% include 'header.html' %}
        <!--Header End-->


        <!--Other Happiness Start-->
        <section class="py-12 md:py-32 about-content">
            <div class="max-w-screen-xl mx-auto px-5">
                <!--                <h2 class="text-7xl text-center font-semibold text-[#C6584F] ">Support Our Journey</h2>-->
                <div class="w-full mx-auto">
                    <img src="/static/img/letMeet.png" alt="" class="w-full">
                </div>

                <div class="mb-8 md:mb-24">
                    <h2 class="text-[#C6584F] mt-12 text-4xl md:text-6xl font-semibold text-center">Get to know more about the team </h2>
                </div>
                <div class="grid sm:grid-cols-2 md:grid-cols-4 gap-5">
                    <div class="relative overflow-hidden rounded-2xl cursor-pointer	" data-modal-target="default-modal" data-modal-toggle="default-modal">
                        <div class="w-full profile">
                            <img src="/static/img/profile_1.png" alt="" class="w-full">
                        </div>
                        <h6 class="absolute bottom-4 text-white px-4 py-2 text-2xl text-white z-10">Aakhansha Varghese</h6>
                    </div>
                    <div class="relative overflow-hidden rounded-2xl">
                        <div class="w-full profile">
                            <img src="/static/img/profile_2.png" alt="" class="w-full">
                        </div>
                        <h6 class="absolute bottom-4 text-white px-4 py-2 text-2xl text-white z-10">Aakhansha Varghese</h6>
                    </div>
                    <div class="relative overflow-hidden rounded-2xl">
                        <div class="w-full profile">
                            <img src="/static/img/profile_3.png" alt="" class="w-full">
                        </div>
                        <h6 class="absolute bottom-4 text-white px-4 py-2 text-2xl text-white z-10">Aakhansha Varghese</h6>
                    </div>
                    <div class="relative overflow-hidden rounded-2xl">
                        <div class="w-full profile">
                            <img src="/static/img/profile_4.png" alt="" class="w-full">
                        </div>
                        <h6 class="absolute bottom-4 text-white px-4 py-2 text-2xl text-white z-10">Aakhansha Varghese</h6>
                    </div>
                    <div class="relative overflow-hidden rounded-2xl">
                        <div class="w-full profile">
                            <img src="/static/img/profile_5.png" alt="" class="w-full">
                        </div>
                        <h6 class="absolute bottom-4 text-white px-4 py-2 text-2xl text-white z-10">Aakhansha Varghese</h6>
                    </div>

                </div>
            </div>
        </section>
        <!--Other Happiness End-->
        <!--Footer Start-->
       {% include 'footer.html' %}

        <!--Footer End-->



    </div>

    <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative p-4 w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-[#F8EDDE] rounded-lg shadow p-8">
                <!-- Modal header -->
                <div class="flex items-center justify-between rounded-t">
                    <button type="button" class="text-white bg-[#C6584F]  hover:bg-black rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="default-modal">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                        </svg>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="space-y-4 text-[#C6584F]">
                    <div>
                        <h4 class="text-2xl font-semibold">Aakhansha Varghese</h4>
                        <h6 class="text-lg font-semibold">Psychologist</h6>
                    </div>
                    <ul class="space-y-1">
                        <li><b>Area of Specialization:</b>Relationship Counselling </li>
                        <li><b>Experience:</b> 5 Years</li>
                        <li><b>Qualification:</b> MSc In Counselling Psychology </li>
                        <li><b>Mode of Delivery:</b> Both Offline and Online</li>
                        <li><b>Language:</b> English, Hindi</li>
                        <li><b>Location:</b> Valsad, Gujarat</li>
                        <li><b>Email:</b> aakansha151995@gmail.com</li>
                        <li><b>Mobile No:</b> 9986071608 </li>
                    </ul>
                    <div>
                        <b>About: </b><br />
                        Aakanksha's work as a psychologist affords her the great privilege of being invited into the most intimate emotional spaces of people’s lives. She works with children, adolescents & young adults with cases like Anxiety, Depression, Relationship issues, Borderline Personality Disorder, ADHD (children and adults), Stress and Work-Life Balance, Adjustmental Issues. Aakanksha is a LGBTQIA ally, Trauma Informed and has worked on cases involving Childhood Trauma. In therapy her approach has been eclectic however she majorly practice humanistic approach. She believes that every individual has the capability to grow and evolve when given an environment of acceptance, empathy and unconditional positive regard. 
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>
