{%include 'head.html' %}
<body>
    <div id="wrapper">
        <!--Header Start-->
      {%include 'header.html' %}
        <!--Header End-->

        <!--form start-->
   <section class="py-2 about-content flex items-center justify-center h-screen bg-[#f8edde]" >
    <div class="container mx-auto px-4 py-10">
        <div class="max-w-screen-lg mx-auto px-2">
            <div class="login_screen flex items-center justify-center min-h-screen">
                <div class="content_login p-10 rounded-lg shadow-lg bg-white w-full max-w-lg">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissible fade show bg-[#e6ea62] text-dark p-4 mb-4 rounded" role="alert">
                                {{ message }}
                                <span class="closebtn float-right cursor-pointer" onclick="this.parentElement.style.display='none'">&times;</span>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="logo text-center bg-[#eecc96] p-4 rounded mb-6">
                        <a href="#">
                            <img class="lazyload mx-auto" src="/static/img/logo.svg" alt="Mudita logo" title="Mudita">
                        </a>
                        <h6 class="text-2xl font-bold mt-2">Welcome to Mudita Tribe</h6>
                    </div>
                    <center>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" class="no-underline">
                            <div class="google flex items-center justify-center border rounded-lg shadow p-3 bg-[#c4d1d4] hover:bg-[#eecc96] ">
                                <img src="/static/img/google.svg" alt="google_logo" class="mr-2">
                                <h6 class="text-lg text-white font-bold hover:text-black">Login With Your Email ID</h6>
                            </div>
                        </a>
                           <a href="/register" class="no-underline"><div class="google flex items-center justify-center border rounded-lg shadow p-3 bg-[#c4d1d4] hover:bg-[#eecc96]  mt-4">

                                <h6 class="text-lg text-white font-bold hover:text-black">Register</h6>
                           </div></a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>


        <!--form end-->

{%include 'footer.html' %}
    </div>

</body>

</html>
