{% include 'head.html' %}
<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
       {% include 'header.html' %}
        <!--Header End-->


        <!--Other Happiness Start-->
        <section class="py-12 md:py-32 about-content">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="w-full md:w-7/12 mx-auto">
                    <img src="/static/img/music_article.png" alt="" class="w-full">

                </div>

                <div class="mb-8 md:mb-24"> 
                    <div class=" mt-12 mb-2 md:mb-8 ">
                        <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] italic">Dive into the profound world of Vedic chants, where ancient sounds meet modern healing. Here, we present a collection of ancient chants and music that have been used for centuries to promote mental and spiritual well-being.
Discover each chant’s unique power to soothe the mind and bring balance into your life. let the ancient wisdom guide you to a deeper state of relaxation and mindfulness</p>
                    </div>
                    <h2 class="text-[#C6584F] text-3xl md:text-6xl font-semibold text-center">Explore all the videos and immerse yourself </h2>

                </div>
                    <div class="grid md:grid-cols-3 gap-8 items-center">
                    <div>
                        <div class="w-full bg-[#C4C4C4] h-56 rounded-lg relative">
                            <img src="/static/img/tune.png" class="player" />
                        </div>
                        <div class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg">
                            <h5>Exercise No. 1</h5>
                        </div>

                    </div>

                    <div>
                        <div class="w-full bg-[#C4C4C4] h-56 rounded-lg relative">
                            <img src="/static/img/tune.png" class="player" />
                        </div>
                        <div class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg">
                            <h5>Exercise No. 2</h5>
                        </div>

                    </div>

                    <div>
                        <div class="w-full bg-[#C4C4C4] h-56 rounded-lg relative">
                            <img src="/static/img/tune.png" class="player" />
                        </div>
                        <div class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg">
                            <h5>Exercise No. 3</h5>
                        </div>

                    </div>

                    <div>
                        <div class="w-full bg-[#C4C4C4] h-56 rounded-lg relative">
                            <img src="/static/img/tune.png" class="player" />
                        </div>
                        <div class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg">
                            <h5>Exercise No. 4</h5>
                        </div>

                    </div>

                    <div>
                        <div class="w-full bg-[#C4C4C4] h-56 rounded-lg relative">
                            <img src="/static/img/tune.png" class="player" />
                        </div>
                        <div class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg">
                            <h5>Exercise No. 5</h5>
                        </div>

                    </div>

                    <div>
                        <div class="w-full bg-[#C4C4C4] h-56 rounded-lg relative">
                            <img src="/static/img/tune.png" class="player" />
                        </div>
                        <div class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg">
                            <h5>Exercise No. 6</h5>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <!--Other Happiness End-->

        <!--Footer Start-->
{% include 'footer.html' %}
        <!--Footer End-->

    </div>
</body>

</html>
