{%include 'head.html' %}
<body>
    <div id="wrapper">
        <!--Header Start-->
      {%include 'header.html' %}
        <!--Header End-->

        <!--form start-->
 <section class="py-12 md:py-32">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="mb-8 md:mb-24">
                    <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] tracking-wide"><u>Privacy Policy</u></h2>
                </div>
                               <h4 class="text-[#C6584F] text-3xl md:text-4xl font-semibold text-center"><u>Information We Collect</u></h4>

                                        <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">
                                            We may collect information that you provide to us directly, such as when you create an account, fill out forms on our website, subscribe to our newsletter, or make a purchase. The types of information we may collect include your name, email address, maipng address, phone number, payment information, and any other information you choose to provide.
                                            <br>
                                            <br>

We may also automatically collect certain information when you visit our website, such as your IP address, browser type, operating system, referring URLs, and interactions with our website.


                                            </p>
                <br>
                                            <br>
                <h4 class="text-[#C6584F] text-3xl md:text-4xl font-semibold text-center"><u>How We Use Your Information</u></h4>

                                        <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">
                                            We may use the information we collect for various purposes, including:
                                            <br>
                                            <br>


                <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">To provide, maintain, and improve our services</p>
                 <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">To process transactions and send you related information</p>
                 <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">To send you promotional emails and updates about our products and services</p>
                 <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">To respond to your comments, questions, and requests</p>
                 <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">To monitor and analyze usage patterns and trends</p>


                                            </p>

                <br>
                                              <br>
                <h4 class="text-[#C6584F] text-3xl md:text-4xl font-semibold text-center"><u>Cookies and Similar Technologies</u></h4>

                                        <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">
                                        We use cookies and similar technologies to collect information and improve your experience on our website. You can set your browser to refuse all or some browser cookies, or to alert you when websites set or access cookies. However, if you disable or refuse cookies, some parts of our website may become inaccessible or not function properly.
                                            <br>
                                            <br>
                <br>
                                              <br>
                <h4 class="text-[#C6584F] text-3xl md:text-4xl font-semibold text-center"><u>Changes to This Privacy Policy
</u></h4>

                                        <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">
We may update this Privacy Policy to reflect changes to our practices. We encourage you to periodically review this page for the latest information on our privacy practices.
                                        </p>
                                            <br>
                                            <br> <br>
                                              <br>
                <h4 class="text-[#C6584F] text-3xl md:text-4xl font-semibold text-center"><u>Contact Us

</u></h4>

                                            <p class="text-2xl md:text-4xl text-center font-semibold text-[#C6584F] itapc">
If you have any questions about this Privacy Policy, please contact us at contact@muditatribe.com

                                        </p>
                                            <br>
                                            <br>





            </div>
        </section>


        <!--form end-->

{%include 'footer.html' %}
    </div>

</body>

</html>
