       {%include 'head.html' %}
       {% load customtag %}

<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
           {%include 'header.html' %}
        <!--Header End-->

        <!--ACTIVITIES  Start-->
        <section class="py-12 md:py-32">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="mb-8 md:mb-24">
                    <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] tracking-wide mb-6 md:mb-12">Sounds Of Nature</h2>
                    <h3 class="text-4xl text-center font-semibold text-[#C6584F] italic ">
                        Step into serenity with our Sounds of Nature collection. Each audio track features pure, soothing sounds from different environments. Whether you need a moment of peace in a hectic day or help winding down at night, these soundscapes are perfect for calming your mind, relaxing your body, and enhancing mental clarity. </h3>                </div>
                       <div class="grid md:grid-cols-3 gap-8 items-center">
                    {%for i in data %}
                   <a href="/music-details/{{i.id|encrypting}}"><div>
                        <div class="w-full bg-[#C4C4C4] h-56 rounded-lg relative">
                            <img src="/static/img/tune.png" class="player" />
                        </div>
                        <div class="bg-[#C4D1D4] text-white mt-3 w-6/12 mx-auto text-xl text-center py-1.5 rounded-lg">
                            <h5>{{i.name}}</h5>
                        </div>

                    </div></a>
                    {%endfor%}



                </div>
            </div>
        </section>
        <!--ACTIVITIES  End-->

        <!--Footer Start-->
       {%include 'footer.html' %}
        <!--Footer End-->



    </div>
</body>

</html>
