{%include 'head.html'%}

<body>
    <div id="wrapper">
        <!--Header Start-->
        <!--Web header starts-->
       {% include 'header.html' %}
        <!--ACTIVITIES  Start-->
        <section class="py-12 md:py-32">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="mb-8 md:mb-24">
                    <h2 class="text-4xl md:text-7xl text-center font-semibold text-[#C6584F] tracking-wide mb-6 md:mb-12">Become A Mental Health Volunteer</h2>
                </div>
                <div class="grid md:grid-cols-2 gap-8 items-center">

                    <div>
                        <div class="form-group">
                            <label class="label-form">Name*</label>
                            <input class="form-input" type="text">
                        </div>
                        <div class="form-group">
                            <label class="label-form">Phone Number*</label>
                            <input class="form-input" type="text">
                        </div>
                        <div class="form-group">
                            <label class="label-form">Gender</label>
                            <select class="form-input">
                                <option>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="label-form">Email Address*</label>
                            <input class="form-input" type="text">
                        </div>
                    </div>
                    <div>
                        <img src="/static/img/Onboarding-cuate-2%201.png" class="w-full" alt="">
                    </div>
                </div>
                <div class="grid md:grid-cols-2 gap-8 items-center">
                    <div class="form-group">
                        <label class="label-form">City*</label>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Date of Birth*</label>
                        <input class="form-input" type="text">
                    </div>

                    <div class="form-group">
                        <label class="label-form">Upload CV*</label>
                        <input class="form-input" type="file">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Area of Specialisation*</label>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Upload Degree/Diploma(1)*</label>
                        <input class="form-input" type="file">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Work Experience*</label>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Upload Photograph*</label>
                        <input class="form-input" type="file">
                    </div>
                    <div class="form-group">
                        <label class="label-form">Mode of Delivery*</label>
                        <select class="form-input">
                            <option>Select</option>
                            <option>option1</option>
                            <option>option2</option>
                            <option>option3</option>
                        </select>
                    </div>
                    <div class="form-group col-span-2">
                        <label class="label-form">Description of Yourself *</label>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-group col-span-2">
                        <label class="label-form">Your Message *</label>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="w-full text-center">
                    <a href="#" class="bg-[#EECC96] text-white inline-block px-8 py-2 text-xl font-bold rounded-lg">Submit</a>
                </div>
            </div>
        </section>
        <!--ACTIVITIES  End-->

        <!--Footer Start-->
       {% include 'footer.html' %}

        <!--Footer End-->



    </div>
</body>

</html>
