   <!--Header Start-->
        <!--Web header starts-->
        <header class="hidden md:block bg-[#EECC96] pt-4 relative z-10">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="">
                    <ul class="flex text-xl gap-x-5 items-center justify-between text-white font-semibold">
                        <li><a href="/activities">Activities</a></li>
                        <li class="relative dropdown">
                            <button type="button" class="dropdown-toggle flex items-center gap-2 rounded">
                                <span class="pointer-events-none select-none">Mindful Traditions</span>
                                <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                </svg>
                            </button>
                            <div class="dropdown-menu absolute hidden bg-white text-white rounded-lg pb-2 w-48">
                                <a href="/mindful_articles" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Articles</a>
<!--                                <a href="/chants" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Chants</a>-->
<!--                                <a href="/music_article" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Music</a>-->
                            </div>
                        </li>
                        <li class="relative dropdown">
                            <button type="button" class="dropdown-toggle flex items-center gap-2 rounded">
                                <span class="pointer-events-none select-none">Resources</span>
                                <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                </svg>
                            </button>
                            <div class="dropdown-menu absolute hidden bg-white text-white rounded-lg pb-2 w-48">
                                <a href="/counsellors" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Our Counsellors</a>
                                <a href="/articles" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Articles</a>
                                <a href="/blog" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Blog</a>
                                <a href="/glossary" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Glossary</a>
                                <a href="/helplines" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Helplines</a>
                            </div>
                        </li>
                        <li>
                            <a href="/"><img src="/static/img/logo.svg" alt="Mudita logo" class="w-60" /></a>
                        </li>
                        <li class="relative dropdown">
                            <button type="button" class="dropdown-toggle flex items-center gap-2 rounded">
                                <span class="pointer-events-none select-none">Join The Tribe</span>
                                <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                </svg>
                            </button>
                            <div class="dropdown-menu absolute hidden bg-white text-white rounded-lg pb-2 w-48">
                                <a href="/about" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">About Mudita
                                </a>
                                <a href="/contact" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Connect With Us</a>
                            </div>
                        </li>
                        <li><a href="/login2">My Account</a></li>
                        <li><a href="/donations">Donations</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <!--Web header starts-->
        <!--Mobile header starts-->
        <header class="bg-[#EECC96] pt-4 relative z-10 block md:hidden">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="flex items-center justify-between md:w-auto w-full">
                    <div class="logo">
                        <a href="/"><img src="/static/img/logo.svg" alt="Mudita logo" class="w-40" /></a>
                    </div>
                    <button type="button" class="mobile-menu-button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12"></path>
                        </svg>
                    </button>
                </div>
                <ul class="
                  flex text-xl gap-x-5 items-start text-white font-semibold flex-col justify-start md:space-x-1 pb-3 md:pb-0 navigation-menu hidden mt-12">
                    <li><a href="/activities">Activities</a></li>
                    <li class="relative dropdown">
                        <button type="button" class="dropdown-toggle flex items-center gap-l-0 gap-2 rounded">
                            <span class="pointer-events-none select-none">Mindful Traditions</span>
                            <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </button>
                        <div class="dropdown-menu absolute hidden bg-white text-white rounded-lg pb-2 w-48">
                            <a href="/mindful_articles" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Articles</a>
<!--                            <a href="/chants" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Chants</a>-->
<!--                            <a href="/music_article" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Music</a>-->
                        </div>
                    </li>
                    <li class="relative dropdown">
                        <button type="button" class="dropdown-toggle flex items-center gap-2 rounded">
                            <span class="pointer-events-none select-none">Resources</span>
                            <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </button>
                        <div class="dropdown-menu absolute hidden bg-white text-white rounded-lg pb-2 w-48">
                            <a href="/counsellors" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Our Counsellors</a>
                            <a href="/articles" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Articles</a>
                            <a href="/blog" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Blog</a>
                            <a href="/glossary" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Glossary</a>
                            <a href="/helplines" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Helplines</a>
                        </div>
                    </li>
                    <li>
                        <a href="#"></a>
                    </li>
                    <li class="relative dropdown">
                        <button type="button" class="dropdown-toggle flex items-center gap-2 rounded">
                            <span class="pointer-events-none select-none">Join The Tribe</span>
                            <svg class="w-3 h-3 pointer-events-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                            </svg>
                        </button>
                        <div class="dropdown-menu absolute hidden bg-white text-white rounded-lg pb-2 w-48">
                            <a href="/about" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">About Mudita
                            </a>
                            <a href="/contact" class="block px-6 py-2 text-[#C6584F] rounded-lg hover:text-white hover:bg-[#EECC96]">Connect With Us</a>
                        </div>
                    </li>
                    <li><a href="/login2">My Account</a></li>
                    <li><a href="/donations">Donations</a></li>
                </ul>
            </div>
        </header>
        <!--Mobile header starts-->
        <div class="w-full relative md:-top-7">
            <img src="/static/img/bg_r_back.svg" class="w-full" alt="">
        </div>
        <!--Header End-->