 <div class="w-full relative">
        <img src="/static/img/bg_b_front.svg" class="w-full" alt="">

    </div>
 <div class="go-top active">
     <center>
<svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="30px" fill="#e8eaed"><path d="M440-240v-368L296-464l-56-56 240-240 240 240-56 56-144-144v368h-80Z"/></svg>
</center>
 </div>


    <div class="bg-[#C4D1D4] pb-4 relative z-10 hidden md:block ">
           <div class="mb-12">
              <ul>
                   <li class="social-media-center" >
                        <a href="https://facebook.com/people/Mudita-Tribe/61554419621856/" target="_blank"><img src="/static/img/facebook.png" alt="" class="w-8"></a>
                        <a href="https://www.instagram.com/mudita_by_miheeka/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img src="/static/img/instgram.png" alt="" class="w-8"></a>
                        <a href="https://x.com/muditatribe?s=11&t=TL6CYi6RuyAugn9YSNjfOA" target="_blank"><img src="/static/img/twitter.png" alt="" class="w-8"></a>
                    </li>
              </ul>
            </div>

        <div class="max-w-screen-xl mx-auto px-5 mb-8">

            <div>
                <ul class="flex text-xl gap-x-2 items-center justify-between text-white font-semibold">
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/login2">My Account</a></li>
                    <li><a href="/helplines">Helplines</a></li>
                    <li><a href="/counsellors">Resources</a></li>

                    <li><a href="/privacy_policy">Privacy Policy</a></li>
                    <li><a href="/terms_conditions">Terms & Conditions</a></li>
                    <li><a href="/donations">Donation</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-[#C4D1D4] pb-4 relative z-10 md:hidden">
        <div class="max-w-screen-xl mx-auto px-5">
            <div class="space-y-2 text-center">
                <ul class="flex text-xl gap-x-5 items-center justify-center text-white font-semibold flex-wrap">
                    <li><a href="/activities">Activities</a></li>
                    <li><a href="/counsellors">Resources</a></li>
                     <li><a href="/helplines">Helplines</a></li>
                    <li><a href="/contact">Join The Tribe</a></li>
                    <li><a href="/login2">My Account</a></li>
                    <li><a href="/donations">Donations</a></li>
                </ul>
                <div class="social-media-center">
                    <a href="https://facebook.com/people/Mudita-Tribe/61554419621856/" target="_blank"><img src="/static/img/facebook.png" alt="" class="w-8"></a>
                    <a href="https://www.instagram.com/mudita_by_miheeka/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img src="/static/img/instgram.png" alt="" class="w-8"></a>
                    <a href="https://x.com/muditatribe?s=11&t=TL6CYi6RuyAugn9YSNjfOA" target="_blank"><img src="/static/img/twitter.png" alt="" class="w-8"></a>
                </div>
            </div>
        </div>
    </div>

 <style>
     .social-media-center {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
 </style>

<!-- Include Select2 CSS and JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>

 {% include 'scripts.html' %}





