  <div class="w-full relative">
            <img src="/static/img/bg_b_front.svg" class="w-full" alt="">
        </div>
        <div class="bg-[#C4D1D4] pb-4 relative z-10 hidden md:block">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="">
                    <ul class="flex text-xl gap-x-5 items-center justify-between text-white font-semibold">
                        <li><a href="#">Activities</a></li>
                        <li><a href="#">Mindful Traditions</a></li>
                        <li><a href="#">Resources</a></li>
                        <li>
                            <div class="flex item-center gap-4">
                                <a href="https://facebook.com/people/Mudita-Tribe/61554419621856/" target="_blank"><img src="/static/img/facebook.png" alt="" class="w-8"></a>
                                <a href="https://www.instagram.com/mudita_by_miheeka/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img src="/static/img/instgram.png" alt="" class="w-8"></a>
                                <a href="https://x.com/muditatribe?s=11&t=TL6CYi6RuyAugn9YSNjfOA" target="_blank"><img src="/static/img/twitter.png" alt="" class="w-8"></a>
                            </div>
                        </li>
                        <li><a href="/privacy_policy">Privacy Policy</a></li>
                        <li><a href="/terms_conditions">Terms & Conditions</a></li>
                        <li><a href="/refund">Cancellation Refund</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-[#C4D1D4] pb-4 relative z-10 md:hidden">
            <div class="max-w-screen-xl mx-auto px-5">
                <div class="space-y-2 text-center">
                    <ul class="flex text-xl gap-x-5 items-center justify-center text-white font-semibold flex-wrap">
                        <li><a href="#">Activities</a></li>
                        <li><a href="#">Mindful Traditions</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Join The Tribe</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Donations</a></li>
                    </ul>
                    <div class="flex item-center justify-center gap-4">
                        <a href="https://facebook.com/people/Mudita-Tribe/61554419621856/" target="_blank"><img src="/static/img/facebook.png" alt="" class="w-8"></a>
                        <a href="https://www.instagram.com/mudita_by_miheeka/?igshid=OGQ5ZDc2ODk2ZA%3D%3D" target="_blank"><img src="/static/img/instgram.png" alt="" class="w-8"></a>
                        <a href="https://x.com/muditatribe?s=11&t=TL6CYi6RuyAugn9YSNjfOA" target="_blank"><img src="/static/img/twitter.png" alt="" class="w-8"></a>
                    </div>
                </div>
            </div>
        </div>
        