<!DOCTYPE html>
<html lang="en">
{% load sweetify %}
{% sweetify %}

<head>
     <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Mudita | The Joy of Giving Others Happiness</title>

    <meta name="Distribution" content="Global" />
    <meta name="description" content="Welcome to Mudita, where the very essence of joy resides in the act of bestowing happiness upon others. In a world where some believe anxiety and depression." />
    <meta name="theme-color" content="#EECC96" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mudita | The Joy of Giving Others Happiness" />
    <meta property="og:description" content="Welcome to Mudita, where the very essence of joy resides in the act of bestowing happiness upon others. In a world where some believe anxiety and depression." />
    <meta property="og:site_name" content="Mudita" />
    <meta name="author" content="Mudita" />
    <meta name="copyright" content="Mudita" />

    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="icon" href="/static/img/favicon.png" sizes="32x32" />

    <link rel="stylesheet" href="/static/css/flowbite.css">
    <script src="/static/js/flowbite.js"></script>
    <script src="/static/js/tailwindcss.js"></script>
    <script src="/static/js/app.js"></script>
      <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.min.css" rel="stylesheet">
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.10/dist/sweetalert2.all.min.js"></script>
    <style type="text/tailwindcss">
        .form {
        @apply w-10/12 mx-auto;
        }

        .form-group {
        @apply mb-8;
        }

        .label-form {
        @apply block mb-2 text-2xl text-[#C6584F] font-semibold;
        }

        .form-input {
        @apply w-full h-10 rounded-md bg-[#EECC96];
        }

    </style>
</head>