   <script src="/static/static/js/jquery-3.6.0.js"></script>

     <script src="/static/sweetAlert/sweetalert2.all.min.js"></script>


    {% load sweetify %}
 {% sweetify %}
<script>
        $(document).ready(function() {
            $('input[type="file"][accept="image/*, .pdf"]').on('change', function() {
                var fileInput = $(this);
                var filePath = fileInput.val();
                var allowedExtension = /(\.pdf)$/i;
                var maxSize = 5 * 1024 * 1024; // 5MB in bytes
                var file = this.files[0];
                var errorMessage = $('#file-error');

                if (!allowedExtension.exec(filePath)) {
                    errorMessage.show().text("Please upload only PDF.");
                    alert("Please upload only PDF.");
                    fileInput.val(''); // Clear the input
                } else if (file.size > maxSize) {
                    errorMessage.show().text("File size exceeds 5MB. Please upload a smaller file.");
                    alert("File size exceeds 5MB. Please upload a smaller file.");
                    fileInput.val(''); // Clear the input
                } else {
                    errorMessage.hide();
                }
            });
        });
        //
        // document.addEventListener('contextmenu', function(e) {
        //     e.preventDefault();
        // });
    </script>