{% include 'dashboard_layout/head.html' %}
<body>
{% load customtag %}
<div id="wrapper">
    {% include 'dashboard_layout/sidebar.html' %}
    <section class="home-section">
        {% include 'dashboard_layout/header.html' %}
        <section class="content-container contentContainer" id="homeSection">
            <h3 class="sub-title">Profile</h3>
            <div class="box-inner">
                <div class="dashboardCardContainer mb-4">
                    <div class="row">
                                        <div class="mb-3 col-md-4 ">
                                            <div class="content">
                                                <label>Name </label>
                                                <h6>{{ request.user.username|title }}</h6>
                                            </div>
                                        </div>

                                        <div class="mb-3 col-md-4">
                                            <div class="content">
                                                <label>Email ID</label>
                                                <h6>{{ user.email }}</h6>
                                            </div>
                                        </div>
                                         <div class="mb-3 col-md-4">
                                            <div class="content">
                                                <label>Phone</label>
                                                <h6>{{ user.phone }}</h6>
                                            </div>
                                        </div>

                                    </div>
                </div>

            </div>
        </section>
    </section>
</div>
{% include 'dashboard_layout/scripts.html' %}
</body>


</html>