{% include 'dashboard_layout/head.html' %}

<style>

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}
</style>
<body>
{% load customtag %}
<div id="wrapper">
    {% include 'dashboard_layout/sidebar.html' %}
    <section class="home-section">
        {% include 'dashboard_layout/header.html' %}
        <section class="content-container contentContainer" id="homeSection">
            <div class="box-inner">
                <div class="table-responsive">
                    <div class="space-y-4 text-[#C6584F]" id="profile">
                <div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/media/{{data.photo}}" id="profile_image" class="w-50>
"
                        </div>
                        <div class="col-md-9">
                         <h4 class="text-2xl font-semibold">{{data.first_name}}</h4>
                    <h6 class="text-lg font-semibold">{{data}}</h6>
                            </div>
                    </div>

                </div>
                <ul class="space-y-1">
                    <li><b>Area of Specialization:</b>Relationship Counselling</li>
                    <li><b>Experience:</b> 5 Years</li>
                    <li><b>Qualification:</b> MSc In Counselling Psychology</li>
                    <li><b>Mode of Delivery:</b> Both Offline and Online</li>
                    <li><b>Language:</b> English, Hindi</li>
                    <li><b>Location:</b> Valsad, Gujarat</li>
                    <li><b>Email:</b> aakansha151995@gmail.com</li>
                    <li><b>Mobile No:</b> 9986071608</li>
                </ul>
                <div>
                    <b>About: </b><br/>
                    Aakanksha's work as a psychologist affords her the great privilege of being invited into the most
                    intimate emotional spaces of people’s lives. She works with children, adolescents & young adults
                    with cases like Anxiety, Depression, Relationship issues, Borderline Personality Disorder, ADHD
                    (children and adults), Stress and Work-Life Balance, Adjustmental Issues. Aakanksha is a LGBTQIA
                    ally, Trauma Informed and has worked on cases involving Childhood Trauma. In therapy her approach
                    has been eclectic however she majorly practice humanistic approach. She believes that every
                    individual has the capability to grow and evolve when given an environment of acceptance, empathy
                    and unconditional positive regard.
                </div>
            </div>
                </div>

            </div>
        </section>
    </section>
    <div class="modal" id="myModal">
            <div class="modal-dialog modal-lg">
                <form action="/add_user_blog" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Add Blog</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <path
                                    d="M12.0007 10.5865L16.9504 5.63672L18.3646 7.05093L13.4149 12.0007L18.3646 16.9504L16.9504 18.3646L12.0007 13.4149L7.05093 18.3646L5.63672 16.9504L10.5865 12.0007L5.63672 7.05093L7.05093 5.63672L12.0007 10.5865Z">
                                </path>
                            </svg>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                       <div class="row">
                            <div class="col-md-12 form-group">
                                <label>Enter Title</label>
                                <input type="text" name="title" class="form-control" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <label>Enter Blog Content</label>

                                <textarea cols="5" rows="5" name="content" class="form-control" required></textarea>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Add Image</label>
                                <input type="file" name="image" accept=".jpg,.png" class="form-control" required>
                            </div>


                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
                </form>

            </div>
        </div>
</div>
{% include 'dashboard_layout/scripts.html' %}
<script>
    function myModal(){
         $('.modal-title').html("Add Blog")
        $('#myModal').modal('show')
    }
    $(document).ready(function() {
  $('#myTable').DataTable();
});
    function edit_leader(id){

          $.ajax({
            type: "GET",
            url: '/edit_leader',
            enctype: 'multipart/form-data',
            data: {"id": id},

            success: function (data) {
                $('.modal-title').html("Edit Leader")
               $("input[name=name]").val(data.data[0]['first_name'])
               $("input[name=email]").val(data.data[0]['email'])
               $("input[name=phone]").val(data.data[0]['phone'])
               $("textarea[name=address]").val(data.data[0]['address'])
                  $('#myModal').modal('show')


            },
            error: function () {
                alert("something went wrong")
            }
        });
    }
</script>
</body>


</html>